<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Django Web Examples</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <style>body {
        padding-top: 60px;
    }</style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Project name</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% block content %}

        <h1>DO NOT USE THIS CODE WITHIN YOUR PRODUCTION ENVIRONMENTS </h1>
        <p class="lead">Welcome to our vulnerable Django Application</p>

        <ul>
            <li><a href="{{  "cat_viewer"|url() }}">Cat Viewer</a></li>
            <li><a href="{{  "cat_uploader"|url() }}">Cat Uploader</a></li>
        </ul>
    {% endblock %}
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
</body>
</html>
