{% extends "home.html" %}
{% block content %}
    <h1>Uploaded Cats</h1>
    <table class="table table-hover table-condensed table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        {% for c in cat_pics %}
            <tr>
                <td>{{ c.name }}</td>
                <td><img width="100" height="100" src="{{ MEDIA_URL }}{{ c.pic }}" /></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Upload Your Cats Pictures</h1>
    <form enctype="multipart/form-data" class="well" action="." method="POST">
        {% csrf_token %}
        {{ form.as_p()|safe }}
        <div class="form-actions">
            <button type="button" class="btn">Cancel</button>
            <button type="submit" class="btn btn-success btn-primary btn-large">Upload Cat</button>
        </div>
    </form>
{% endblock %}