{% extends "home.html" %}
{% block content %}
    <h1>Saved Cats</h1>
    <table class="table table-hover table-condensed table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        {% for c in cat_pics %}
            <tr>
                <td>{{ c.cat_name }}</td>
                <td>{{ c.picture_url }}</td>
                <td><img width="100" height="100" src="data:image/png;base64,{{ c.cat_image|safe() }}"/></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Save Your Cats</h1>
    <form class="well" action="." method="POST">
        {% csrf_token %}
        {{ form.as_p()|safe }}
        <div class="form-actions">
            <button type="button" class="btn">Cancel</button>
            <button type="submit" class="btn btn-success btn-primary btn-large">View Cat</button>
        </div>
    </form>
{% endblock %}